Repository nccu-cloud-native-group6/pmap, pull requests merged in 2024-12, with the labels that each got.

#6 Feat/frontend
  frontend/.env.example
  frontend/.gitignore
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/login/index.tsx
  frontend/components/map/index.tsx
  frontend/components/map/map.tsx
  frontend/components/notification/index.tsx
  frontend/components/notification/notificationIcon.tsx
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/postcss.config.js
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/types/index.d.ts
Labels: enhancement, frontend

#22 Chore/ Docker of Frontend
  deploys/docker-compose-prod.yml
  docker-compose-dev.yml
  docs/frontend_struture.md
  env_dev_example
  frontend/.dockerignore
  frontend/.env.development.example
  frontend/.env.example
  frontend/.env.production.example
  frontend/.gitignore
  frontend/Dockerfile
  frontend/dev.Dockerfile
  frontend/package.json
Labels: frontend

#21 Feat/modal
  docker-compose-dev.yml
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/login/index.tsx
  frontend/components/map/index.tsx
  frontend/components/map/map.tsx
  frontend/components/modal/index.tsx
  frontend/components/modal/location.tsx
  frontend/components/modal/rainSelector.tsx
  frontend/components/modal/useLocation.ts
  frontend/contexts/MapContext.tsx
  frontend/contexts/ModalContext.tsx
  frontend/contexts/UserContext.tsx
  frontend/dev.Dockerfile
  frontend/hooks/usePageController.tsx
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/index.d.ts
  frontend/types/location.ts
  frontend/types/report.ts
  frontend/types/user.ts
Labels: enhancement, frontend

#10 Feat/add Weather API
  backend/docs/swagger.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/App/Features/Weather/GetWeather/Types/api.d.ts
  backend/src/App/Features/Weather/GetWeather/getWeatherHandler.ts
  backend/src/App/Features/Weather/GetWeather/getWeatherRes.ts
  backend/src/Controller/weatherController.ts
  backend/src/Database/constant.ts
  backend/src/Database/entity/polygon.ts
  backend/src/Database/migrate/polygons/init_grid_to_db.ts
  backend/src/Infrastructure/Repository/PolygonRepo.ts
  backend/src/Infrastructure/Service/weatherService.ts
  backend/src/Router/weatherRouter.ts
  backend/src/Types/api.d.ts
  backend/src/app.ts
  backend/src/utils/tool.ts
  docs/api_doc.md
Labels: backend

#23 Feat/ Auth
  .env_dev.example
  .env_production.example
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  backend/docs/swagger.yaml
  backend/src/App/Features/User/SignUp/Types/api.d.ts
  backend/src/App/Features/User/SignUp/signUpHandler.ts
  backend/src/Database/entity/user.ts
  backend/src/Database/migrate/schema.sql
  backend/src/Infrastructure/Repository/userRepo.ts
  backend/src/Infrastructure/Service/userService.ts
  backend/src/Types/common.d.ts
  deploys/docker-compose-prod.yml
  docker-compose-dev.yml
  docs/cicd.md
  env_staging_example
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
Labels: frontend, backend

#34 Feat/report
  backend/.dockerignore
  backend/.gitignore
  backend/docs/swagger.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/App/Features/Report/PostReport/Types/api.d.ts
  backend/src/App/Features/Report/PostReport/Types/postReportValidator.ts
  backend/src/App/Features/Report/PostReport/postReportHandler.ts
  backend/src/App/Features/Report/PostReport/postReportRes.ts
  backend/src/Controller/reportController.ts
  backend/src/Database/entity/location.ts
  backend/src/Database/entity/polygon.ts
  backend/src/Database/entity/report.ts
  backend/src/Database/entity/subEvent.ts
  backend/src/Database/entity/subscription.ts
  backend/src/Database/entity/weatherInfo.ts
  backend/src/Database/migrate/polygons/init_grid_to_db.ts
  backend/src/Errors/errors.ts
  backend/src/Infrastructure/Repository/PolygonRepo.ts
  backend/src/Infrastructure/Repository/locationRepo.ts
  backend/src/Infrastructure/Repository/reportRepo.ts
  backend/src/Infrastructure/Service/reportService.ts
  backend/src/Infrastructure/Service/weatherService.ts
  backend/src/Router/reportRouter.ts
  backend/src/Types/api.d.ts
  backend/src/Types/common.d.ts
  backend/src/app.ts
  backend/src/env_staging_example
  backend/src/utils/jwt.ts
  backend/tsconfig.json
Labels: backend

#38 Fix/update polygonRepo file name
  backend/src/Infrastructure/Repository/polygonRepo.ts
Labels: bug, backend

#44 Feat/connect to backend directly
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  frontend/.env.development.example
  frontend/components/map/addHexGrid.ts
  frontend/pages/api/weather.ts
Labels: frontend, backend

#41 Feat/Notification 🍞
  frontend/app/ToastProvider.tsx
  frontend/app/providers.tsx
  frontend/components/map/map.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend

#40 Feat/add PostSubscription & add redis, mosquitto
  .env_dev.example
  backend/docs/swagger.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/App/Features/Subscription/postSubscription/Types/api.d.ts
  backend/src/App/Features/Subscription/postSubscription/postSubscriptionHandler.ts
  backend/src/App/Features/Subscription/postSubscription/postSubscriptionRes.ts
  backend/src/Controller/subscriptionController.ts
  backend/src/Database/entity/subEvent.ts
  backend/src/Database/entity/subPolygon.ts
  backend/src/Database/entity/subscription.ts
  backend/src/Database/messageQueue.ts
  backend/src/Database/migrate/schema.sql
  backend/src/Database/redis.ts
  backend/src/Infrastructure/Repository/subscriptionRepo.ts
  backend/src/Infrastructure/Repository/userRepo.ts
  backend/src/Infrastructure/Service/notificationService.ts
  backend/src/Infrastructure/Service/reportService.ts
  backend/src/Infrastructure/Service/subscriptionService.ts
  backend/src/Router/subscriptionRouter.ts
  backend/src/Types/api.d.ts
  backend/src/app.ts
  backend/src/env_dev_example
  backend/src/utils/formatter.ts
  docker-compose-dev.yml
  mosquitto.conf
Labels: backend, api

#39 Feat/get report
  backend/docs/swagger.yaml
  backend/src/App/Features/Report/GetRangeReport/Types/api.d.ts
  backend/src/App/Features/Report/GetRangeReport/getRangeReportHandler.ts
  backend/src/App/Features/Report/GetRangeReport/getRangeReportRes.ts
  backend/src/App/Features/Report/GetReportDetail/Types/api.d.ts
  backend/src/App/Features/Report/GetReportDetail/getReportDetailHandler.ts
  backend/src/App/Features/Report/GetReportDetail/getReportDetailRes.ts
  backend/src/Controller/reportController.ts
  backend/src/Controller/weatherController.ts
  backend/src/Database/migrate/init_db.ts
  backend/src/Database/migrate/schema.sql
  backend/src/Infrastructure/Repository/reportRepo.ts
  backend/src/Infrastructure/Service/reportService.ts
  backend/src/Infrastructure/Service/weatherService.ts
  backend/src/Router/reportRouter.ts
  backend/src/Types/api.d.ts
Labels: backend, api

#43 Feat/upload img
  .env_production.example
  backend/docs/swagger.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/App/Features/Report/PostReport/Types/api.d.ts
  backend/src/App/Features/Report/PostReport/Types/postReportValidator.ts
  backend/src/App/Features/Report/PostReport/postReportHandler.ts
  backend/src/App/Features/Report/PostReport/postReportRes.ts
  backend/src/Controller/imageController.ts
  backend/src/Controller/reportController.ts
  backend/src/Database/fileServer/s3Client.ts
  backend/src/Infrastructure/Service/reportService.ts
  backend/src/Infrastructure/Service/s3Service.ts
  backend/src/Middlewares/multer.ts
  backend/src/Router/imgRouter.ts
  backend/src/Router/reportRouter.ts
  backend/src/Types/api.d.ts
  backend/src/app.ts
Labels: backend, api

#42 Feat/Credential
  frontend/app/providers.tsx
  frontend/components/bookmark/CreateSubscription/Condition.tsx
  frontend/components/bookmark/CreateSubscription/EventTypeSelector.tsx
  frontend/components/bookmark/CreateSubscription/Location.tsx
  frontend/components/bookmark/CreateSubscription/index.tsx
  frontend/components/bookmark/LoginPage.tsx
  frontend/components/bookmark/SlidingPanel.tsx
  frontend/components/login/credential.tsx
  frontend/components/login/icons.tsx
  frontend/components/login/index.tsx
  frontend/components/login/recaptcha.tsx
  frontend/components/modal/index.tsx
  frontend/components/modal/location.tsx
  frontend/composables/lists.ts
  frontend/composables/useUserAvatar.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
Labels: frontend, backend, auth

#46 Feat/ improve cwa report rain degree conversion
  cloud/.env.dev.example
  cloud/.env.example
  cloud/lib/lambda-handler/entity/process-weather.ts
  cloud/lib/lambda-handler/fetch-weather.ts
  cloud/lib/lambda-handler/process-weather.ts
Labels: enhancement

#47 Feat/ subscription API: get by id, get by user, delete
  backend/docs/swagger.yaml
  backend/src/App/Features/Subscription/deleteSubscription/deleteSubscriptionHandler.ts
  backend/src/App/Features/Subscription/getSubscription/Types/api.d.ts
  backend/src/App/Features/Subscription/getSubscription/getSubscriptionHandler.ts
  backend/src/App/Features/Subscription/getSubscription/getSubscriptionRes.ts
  backend/src/App/Features/Subscription/getSubscriptions/Types/api.d.ts
  backend/src/App/Features/Subscription/getSubscriptions/getSubscriptionHandler.ts
  backend/src/App/Features/Subscription/getSubscriptions/getSubscriptionsRes.ts
  backend/src/Controller/subscriptionController.ts
  backend/src/Database/entity/subscription.ts
  backend/src/Errors/errors.ts
  backend/src/Infrastructure/Repository/subscriptionRepo.ts
  backend/src/Infrastructure/Service/subscriptionService.ts
  backend/src/Router/subscriptionRouter.ts
  backend/src/utils/formatter.ts
Labels: backend, api
